@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-bree);
}
.fontlight {
  font-family: var(--font-rale);
}
.fontlemon {
  font-family: var(--font-lemon);
}
.sliderimg1 {
  background-image: url("../assets/hotel2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sliderimg2 {
  background-image: url("../assets/restaurant2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-scrollbar {
  display: none;
}
.fontabril {
  font-family: var(--font-abril);
}
